#price{
    font-family: sans-serif;
    background: #efefef;
}

.single-price{
    margin: 10px auto;
    background-color:  #fff;
    transition: 0.5s0;
}

.single-price:hover {
    box-shadow: 0 2px 20px #333 ;
}

.price-head{
    background-color: #2196f3;
    padding: 10px 5px;
    text-align: center;
    
}

.price-head h2
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.price-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}

#price span{
    font-size: 15px;
}

.price-content{
    padding: 0 15px;
}

.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
.price-content ul li:last-child{
    border: none;
}

.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle{
    color:red;
    margin-right: 10px;
    font-size: 20px;
}

.price-button{
    padding: 15px 15px 30px;
    text-align: center;
}

.buy-btn{
    background-color:#2196f3 ;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}